<!DOCTYPE html>
<html>

<head>
  <title>Chatsies</title>

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/app.css">

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.0/jquery.timeago.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/chat.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/chat_ui.js"></script>
  <script src="/javascripts/jquery.zclip.min.js"></script>
  <script src="/javascripts/typed.js"></script>


  <script>
    $(function () {
      var chatUi = new ChatApp.ChatUi();
      $("textarea").focus();

      function updateTime() {
         setTimeout(updateTime, 1000 * 60);
         $("abbr.timeago").timeago();
      };

      updateTime();


      $('#room-copy-url').zclip({
        path:'javascripts/ZeroClipboard.swf',
        copy:$('#room-copy-url').attr("href")
      });

      setTimeout( function () {

        $("#title-1").typed({
          strings: [" with no backsies", ""],
          typeSpeed: 20,
          backSpeed: 50,
          showCursor: false,
          backDelay: 1000,
          callback: function () {
            $("#title-2").typed({
              strings: ["sies"],
              typeSpeed: 20,
              showCursor: false
            });
          }
        });
      }, 1000);
    });
  </script>

  <body>
    <div class="container">
      <div class="row" id="header">
        <div class="col-xs-12 text-center">
          <h2>

              Chat<span id="title-1"></span
              ><font color="#2196f3"
              ><span id="title-2"></span>
              </font>
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="panel panel-default" id="chat">
            <div class="panel-heading" id="chat-heading">
              <div class="row">
                <div class="col-xs-9">
                  <span class="glyphicon glyphicon-comment"></span>
                  <span id="room-name">LOBBY</span>
                  <!-- <a href="#" id="room-copy-url">CLICK TO COPY LINK</a> -->
                </div>
                <div class="col-xs-3 text-right">
                  <div class="btn-group">
                      <a
                        href="#"
                        class="dropdown-toggle"
                        data-toggle="dropdown">
                         ACTIONS <span class="caret"></span>
                      </a>
                    <!-- </button> -->
                    <ul class="dropdown-menu" role="menu">
                      <li>
                        <a
                          href="#"
                          data-toggle="modal"
                          data-target="#username-modal">
                          Change username
                        </a>
                      </li>
                      <li>
                        <a
                          href="#"
                          data-toggle="modal"
                          data-target="#room-modal">
                          Join new room
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
            <div class="panel-body" id="chat-body">
              <div class="row">
                <div class="col-xs-9" id="chat-log-container">
                  <div id="chat-log">
                  </div>
                </div>
                <div class="col-xs-3" id="sidebar-container">
                  <div id="users">
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-footer" id="chat-footer">
              <textarea
                id="chat-input"
                type="text"
                class="form-control"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <!-- Modal -->
  <div
    class="modal fade"
    id="username-modal"
    tabindex="-1"
    role="dialog"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form id="username-request">
          <div class="modal-body">
            <input
              type="text"
              class="form-control"
              placeholder="Enter new username"
              name="username">
          </div>
          <div class="modal-footer">

            <button
              type="button"
              class="btn btn-default"
              data-dismiss="modal">
              Close
            </button>
            <input
              type="submit"
              class="btn btn-primary"
              value="Change">
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="room-modal"
    tabindex="-1"
    role="dialog"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form id="room-request">
          <div class="modal-body">
            <input
              type="text"
              class="form-control"
              placeholder="Enter new room"
              name="room">
          </div>
          <div class="modal-footer">

            <button
              type="button"
              class="btn btn-default"
              data-dismiss="modal">
              Close
            </button>
            <input
              type="submit"
              class="btn btn-primary"
              value="Join">
          </div>
        </form>
      </div>
    </div>
  </div>

</html>
