<!DOCTYPE html>
<html>

<head>
  <title>Chatting</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.0/jquery.timeago.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/chat.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/chat_ui.js"></script>
  <script>
    $(function () {
      var chatUi = new ChatApp.ChatUi();
      $("textarea").focus();
    });
  </script>

  <body>
    <div class="container" id="chat">
      <div class="row text-center" style="padding-bottom:20px;">
        <!-- <div class="col-xs-12"> -->
        <img src="/img/nodejs.png"></img>
        <!-- </div> -->
      </div>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-2" id="chat-main-container">
          <div class="panel" id="chat-main">
            <div class="panel-heading">
              <span class="glyphicon glyphicon-comment"></span> Lobby
            </div>
            <div class="panel-body" id="chat-log-container">
              <div id="chat-log">
              </div>
            </div>

            <div class="panel-footer">
              <textarea
                id="message-input"
                type="text"
                class="form-control"></textarea>
            </div>
          </div>
        </div>
          <div class="col-xs-2" id="chat-sidebar-container">
            <div class="panel" id="chat-sidebar">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-user"></span> Users
              </div>
              <div class="panel-body" id="rooms">
              </div>
            </div>
          </div>
      </div>
    </div>
  </body>
</html>
