<!DOCTYPE html>
<html>

<head>
  <title>Chatting</title>

  <!-- <link rel="stylesheet" href="http://bootswatch.com/paper/bootstrap.min.css"> -->


<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/app.css">

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.0/jquery.timeago.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/chat.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/chat_ui.js"></script>
  <script>
    $(function () {
      var chatUi = new ChatApp.ChatUi();
      $("textarea").focus();
    });
  </script>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="panel panel-default" id="chat">
            <div class="panel-heading" id="chat-heading">
              <div class="row">
                <div class="col-xs-9">
                  <span class="glyphicon glyphicon-comment"></span> Lobby
                </div>
                <div class="col-xs-3 text-right">
                  <a href="#">
                    <span class="glyphicon glyphicon-globe"></span> Join New Room
                  </a>
                </div>
              </div>

            </div>
            <div class="panel-body" id="chat-body">
              <div class="row">
                <div class="col-xs-9" id="chat-log-container">
                  <div id="chat-log">
                  </div>
                </div>
                <div class="col-xs-3" id="sidebar-container">
                  <div id="rooms">
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-footer" id="chat-footer">
              <textarea
                id="chat-input"
                type="text"
                class="form-control"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
